* {
    font-size: 1.02em;
}

nav {
    /*background: linear-gradient(grey, transparent, transparent, transparent, transparent, transparent);*/
    width: 100%;
}

#stickyheader {
    z-index: 20;
}

@media (min-width: 978px) {
    #stickyheader {
        height: 50px;
        transition-duration: 0.5s;
    }
}

.navbar a {
    font-size: 1.1em;
    text-shadow: 1px 1px 2px white;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
}

.bg-main {
    background: rgba(255, 255, 255, 0.4);
}

.carousel {
    background: rgba(0, 0, 0, 0.15);
}

.carousel-item img {
    width: 100%;
    height: 600px;
}

.carousel {
    width: 100%;
    height: 600px;
}

.bg-related img {
    width: 100%;
    max-height: 250px;
}

.related {
    position: relative;
    margin: 20px;
    box-shadow: 1px 1px 15px yellow;
}

.related h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.detail {
    background: rgba(200, 200, 200, 0.4);
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 15px gainsboro;
}

.detail img {
    height: 140px;
    width: 140px;
    border-radius: 5px;
}

.list {
    background: rgba(200, 200, 200, 0.4);
    margin: 15px;
    padding: 10px;
    /*color: gray;*/
    box-shadow: 1px 1px 15px gainsboro;
}

.list h3 {
    text-shadow: 1px 1px 5px whiteblack
}

.list img {
    height: 160px;
    width: 160px;
    border-radius: 5px;

}

blockquote {
    /*color:black;*/
    /*background: rgba(250,250,250,0.4);*/
}

header a > i, header a {
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

.header-right {
    font-size: 1.2em;
}

footer {
    /*background: gray;*/
    color: white;
    text-shadow: 1px 1px 4px black;
}

footer img {
    height: 150px;
    width: 150px;
}

footer a {
    color: white;
    text-shadow: 1px 1px 4px black;
}
